DATABASE_PATH=./data/emotional-calendar.sqlite
HOST=127.0.0.1
PORT=4321
APP_BIND_ADDRESS=0.0.0.0
PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=emotional-calendar
MONGODB_COLLECTION_PREFIX=emotional_calendar
MONGODB_KEEPALIVE_INTERVAL_SECONDS=86400
DISABLE_AUTO_MONGO_SYNC=0